﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Reporteador.Master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="Reporteador.Web.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="master_content" runat="server">
    <div class="full_w">
    </div>
       </asp:Content>
