﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Reporteador.master.cs" Inherits="Reporteador.Web.Reporteador" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
    strong {
        font-weight: bold;
    }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
<body>
    <form id="form1" runat="server">
    <div>
        Bienvenido, <strong>
             <asp:Label ID="lblUsuario" runat="server"></asp:Label>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#">Reporteador</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Inicio</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">CFDI <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="content/Reporteador.Reportes/VisorReporte.aspx">Visor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conciliaciones <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="content/Reporteador.Reportes/VisorConciliacion.aspx">Autos y Excesos</a></li>
                                <li><a href="#">Dips Aplicados en Nómina</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Otros</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="Logout"><a onclick="lnbCerrarSession_Click()" href="#"><span class="glyphicon glyphicon-user"></span> Cerrar sesión</></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div style="margin-top:50px">
        <asp:ContentPlaceHolder ID="master_content" runat="server">
             
        </asp:ContentPlaceHolder>
    </div>

    <script>
		function Logout() {
			document.getElementById("lnbCerrarSession").click();
		}
	</script>

    </form>
</body>
</html>

