﻿body{
	background: #f3f3f3 url(../images/bg_top.jpg) repeat-x;
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}
h1, h2, h3, h4{
	font-family: Arial, sans-serif;
	color: #444444;
}
p,ul
{
    margin:0;
    padding:0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.margen
{
    margin: 0 auto;    
	width: 900px;
}
#header
{
    margin:0;
    padding:0;
}
#header #top{
	height: 34px;
	padding: 14px 20px 0 20px;
}
#header #top p{
	text-shadow: #000 0px 1px 1px;
}
#header #top a{
	color: #f07e01;
}
#content{
	margin: 30px 0 30px 0;
}
#content .b1{
	background: #ffffff;
}
#content .b2{
	background: #f7f7f7;
}
#content #sidebar{
	float: left;
	margin: 0 10px 0 0;
	width: 190px;
}
#sidebar a{
	color: #656565;
}

#sidebar .box{
	border: 1px solid #DCDDE1;
	margin: 0 0 12px 0;
}
#sidebar .box .h_title{
	background: url(../images/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	cursor: pointer;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}

#sidebar .box ul{
	list-style: none;
}
#sidebar .box ul li{
	padding: 8px 0 8px 5px;
}
.box ul li .icon{ padding: 2px 0 2px 22px;}
.box ul li .page{ background: url(../images/i_page.png) no-repeat center left;}
.box ul li .view_page{ background: url(../images/i_view_page.png) no-repeat center left;}
.box ul li .category{ background: url(../images/i_category.png) no-repeat center left;}
.box ul li .contact{ background: url(../images/i_contact.png) no-repeat center left;}
.box ul li .report{ background: url(../images/i_report.png) no-repeat center left;}
.box ul li .add_page{ background: url(../images/i_add_page.png) no-repeat center left;}
.box ul li .photo{ background: url(../images/i_photo.png) no-repeat center left;}
.box ul li .config{ background: url(../images/i_config.png) no-repeat center left;}
.box ul li .users{ background: url(../images/i_users.png) no-repeat center left;}
.box ul li .add_user{ background: url(../images/i_add_user.png) no-repeat center left;}
.box ul li .block_users{ background: url(../images/i_block_users.png) no-repeat center left;}

#content #main{
	float: right;
	margin: 0 0 12px 0;
	width: 700px;
}
.margen_container
{
    margin: 20px;
}
#main .full_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
}
#main .full_w .h_title, #main .half_w .h_title{
	background: url(../images/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}
#main .full_w h1, #main .full_w h2, #main .full_w h3{
	margin: 15px 15px 5px 15px;
}
#main .full_w p{
	line-height: 16px;
	margin: 5px 15px;
}
.stats
{
    width:230px; float:left; margin-right:4px;
}
.stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.stats_rigth
{
    width:230px; float:left;
}
.stats_rigth h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.count{
	color: #444444;
	font-size: 18px;
	font-weight: bold;
}
.type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#footer{
	background: url(../images/bg_top.jpg) repeat-x top center;
	border-top: 2px solid #404345;
	color: #939393;
	float: left;
	margin: 0 auto;
	padding: 8px 20px;
	text-shadow: #111111 0px 1px 1px;
	width: 860px;
}
#footer a{
	color: #939393;
	font-weight: bold;
}
.progressBackgroundFilter
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.processMessage
{
	position: absolute;
	top: 30%;
	left: 48%;
	padding: 10px;
	width: 14%;
}
.ddl_css
{
    width:120px;
}
.left{ 	float: left; }
.right{ float: right; }
.clear{ clear: both; }
.align-center{ text-align: center; }

.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
