﻿/********************GRIDVIEW style***/

.gridview
{
    width: 100%;
    background-color: #ffffff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

.gridview td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #000;
}

.gridview th
{
    padding: 4px 2px;
    color: #fff;
    background: #77202E;
    border-left: solid 1px #525252;
    font-size: 0.9em;
}

.gridview .gridview_alter
{
    background: #f7f7f7;
}

.gridview .gridview_pager
{
    background: #77202E;
}

.gridview .gridview_pager table
{
    margin: 5px 0;
}

.gridview .gridview_pager td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #fff;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}

.gridview .gridview_pager a
{
    color: #666;
    text-decoration: none;
}

.gridview .gridview_pager a:hover
{
    color: #fff;
    text-decoration: none;
}
